<div class="panelheader">Aspectos</div>
<div class="new-row">
    <div class="flexblock-left"><input name="data.attributes.aspect00.value" value="" type="text"
            class="input-free aspect00" attid="cDr8XiAhPwVMdytH"></div>
    <div class="flexblock-left"><input name="data.attributes.aspect01.value" value="" type="text"
            class="input-free aspect01" attid="98ipiN1sfubfFIeq"></div>
    <div class="flexblock-left"><input name="data.attributes.aspect02.value" value="" type="text"
            class="input-free aspect02" attid="2IucM8WUrr3uld4J"></div>
    <div class="flexblock-left"><input name="data.attributes.aspect03.value" value="" type="text"
            class="input-free aspect03" attid="Z8ueNr11vlWKD24C"></div>
    <div class="flexblock-left"><input name="data.attributes.aspect04.value" value="" type="text"
            class="input-free aspect04" attid="5oP8jnXKjxNYO7UN"></div>
</div>