<div class="panelheader">Atributos</div>
<div class="new-row">
    <div class="flexblock-center">
        <h3 class="centertext label-free boldtext" id="aura" attid="Hfefw9wdmutlSN6Z">AUR</h3><select
            class="input-med aura" name="data.attributes.aura.value" attid="Hfefw9wdmutlSN6Z">
            <option value="d4">d4</option>
            <option value="d6">d6</option>
            <option value="d8" selected="">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select>
        <h3 class="centertext label-free boldtext" id="instinto" attid="PeemFLe6318G5spI">INS</h3><select
            class="input-med instinto" name="data.attributes.instinto.value" attid="PeemFLe6318G5spI">
            <option value="d4">d4</option>
            <option value="d6">d6</option>
            <option value="d8" selected="">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select>
    </div>
    <div class="flexblock-center">
        <h3 class="centertext label-free boldtext" id="disciplina" attid="819ZQ80PWmieUgDa">DIS</h3><select
            class="input-med disciplina" name="data.attributes.disciplina.value" attid="819ZQ80PWmieUgDa">
            <option value="d4">d4</option>
            <option value="d6" selected="">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select>
        <h3 class="centertext label-free boldtext" id="mania" attid="hXOmunIaTSR5X0W5">MAÑ</h3><select
            class="input-med mania" name="data.attributes.mania.value" attid="hXOmunIaTSR5X0W5">
            <option value="d4">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10" selected="">d10</option>
            <option value="d12">d12</option>
        </select>
    </div>
    <div class="flexblock-center">
        <h3 class="centertext label-free boldtext" id="potencia" attid="tXM2DvzrzhftaCV6">POT</h3><select
            class="input-med potencia" name="data.attributes.potencia.value" attid="tXM2DvzrzhftaCV6">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select>
        <h3 class="centertext label-free boldtext" id="mente" attid="dTuXr4bKEubMKzA5">MEN</h3><select
            class="input-med mente" name="data.attributes.mente.value" attid="dTuXr4bKEubMKzA5">
            <option value="d4">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12" selected="">d12</option>
        </select>
    </div>
    <div class="flexblock-center">
        <h3 class="centertext label-free boldtext" id="resistencia" attid="XdlSiFHLOGqWFJ48">RES</h3><select
            class="input-med resistencia" name="data.attributes.resistencia.value" attid="XdlSiFHLOGqWFJ48">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select>
        <div class="badge-block centertext token" name="token" attid="WYtGL94pNu9Cmun8"><label
                class="boldtext">Tokens</label>
            <div class="badge-container"><a class="badge-image"><i class="badge-click" attkey="token"
                        attid="WYtGL94pNu9Cmun8">3</i></a><a attkey="token" attid="WYtGL94pNu9Cmun8"
                    class="badge-clickgm"><i class="fas fa-plus-circle"></i></a></div>
        </div>
    </div>
</div>