<div class="new-row">
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="nombre" attid="jhnELd4FXi9V3HKi">Nombre</h3><input
            name="data.attributes.nombre.value" value="" type="text" class="input-free nombre"
            attid="jhnELd4FXi9V3HKi">
    </div>
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="concepto" attid="aImxxOy8HMIVizZc">Concepto</h3><input
            name="data.attributes.concepto.value" value="" type="text" class="input-free concepto"
            attid="aImxxOy8HMIVizZc">
    </div>
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="naturaleza" attid="iyREbCDtexW8uCrj">Naturaleza</h3><input
            name="data.attributes.naturaleza.value" value="" type="text" class="input-free naturaleza"
            attid="iyREbCDtexW8uCrj">
    </div>
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="motivacion" attid="UjkxmS6tboFovIF5">Motivación</h3><input
            name="data.attributes.motivacion.value" value="" type="text" class="input-free motivacion"
            attid="UjkxmS6tboFovIF5">
    </div>
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="lema" attid="2hVAZNMG554jsXBb">Lema</h3><input
            name="data.attributes.lema.value" value="" type="text" class="input-free lema" attid="2hVAZNMG554jsXBb">
    </div>
</div>
