    <!-- <section class="items">
        <h3>Owned Items</h3>
        <ol class="actor-items">
        {{#each actor.items as |item id|}}
            {{> "systems/gemengine/templates/partials/equipment-element.hbs" item}}
        {{/each}}
        </ol>
    </section>-->

<div class="panelheader">Equipo</div>
<div class="new-row">
    <div class="flexblock-left"><input name="data.attributes.talentName.value" value="void" type="text"
            class="input-large talentName" attid="mtwgK9iWkq4xIXFl"><input name="data.attributes.equipFx.value"
            value="fx" type="text" class="input-large equipFx" attid="PKhx6tgOMQwcByRq"><select
            class="input-med talentValue" name="data.attributes.talentValue.value" attid="tQt0PAQQdTapqex0">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select></div>
    <div class="flexblock-left"><input name="data.attributes.talentName.value" value="void" type="text"
            class="input-large talentName" attid="JYOcHpKCITjP7Zsv"><input name="data.attributes.equipFx.value"
            value="fx" type="text" class="input-large equipFx" attid="nCUFNgvBOkVxtsRB"><select
            class="input-med talentValue" name="data.attributes.talentValue.value" attid="DoYOruslalXeXCFy">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select></div>
    <div class="flexblock-left"><input name="data.attributes.talentName.value" value="void" type="text"
            class="input-large talentName" attid="HahU1mnskEUW6H0I"><input name="data.attributes.equipFx.value"
            value="fx" type="text" class="input-large equipFx" attid="eqNfxeP6q8LiRzBl"><select
            class="input-med talentValue" name="data.attributes.talentValue.value" attid="cGBAFCpReV3tVECo">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select></div>
    <div class="flexblock-left"><input name="data.attributes.talentName.value" value="void" type="text"
            class="input-large talentName" attid="kvI9JnZCFurcn7fW"><input name="data.attributes.equipFx.value"
            value="fx" type="text" class="input-large equipFx" attid="FBQWC63tVv8z3wWd"><select
            class="input-med talentValue" name="data.attributes.talentValue.value" attid="EaKHaHBbyBDWBdiU">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select></div>
</div>