    <section class="items">
        <h3>Owned Items</h3>
        <ol class="actor-items">
        {{#each actor.items as |item id|}}
            {{> "systems/gemengine/templates/partials/equipment-element.hbs" item}}
        {{/each}}
        </ol>
    </section>