<div class="panelheader">Estado</div>
<div class="new-row">
    <div class="flexblock-center">
        <h3 class="centertext label-free boldtext" id="fatiga" attid="p9SZmBceGGm9pUOX">Fatiga</h3>
        <div class="radio-input fatiga" name="fatiga" attid="p9SZmBceGGm9pUOX"><a clickvalue="0"
                class="radio-element" style="font-size: 14px;"><i class="far fa-times-circle"></i></a><a
                clickvalue="1" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a><a
                clickvalue="2" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a><a
                clickvalue="3" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a><a
                clickvalue="4" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a><a
                clickvalue="5" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a>
        </div>
    </div>
    <div class="flexblock-center">
        <h3 class="centertext label-free boldtext" id="herido" attid="YEmDGm8U149xKOjh">Herido (1-2)</h3><input
            name="data.attributes.herido.value" value="" type="text" class="input-free herido"
            attid="YEmDGm8U149xKOjh">
    </div>
    <div class="flexblock-center">
        <h3 class="centertext label-free boldtext" id="malherido" attid="Yy6fk0Wc1BA0zN8w">Malherido (3-4)</h3>
        <input name="data.attributes.malherido.value" value="" type="text" class="input-free malherido"
            attid="Yy6fk0Wc1BA0zN8w">
    </div>
    <div class="flexblock-center">
        <h3 class="centertext label-free boldtext" id="moribundo" attid="JD6qFGAUcyrINH70">Moribundo (5+)</h3><input
            name="data.attributes.moribundo.value" value="" type="text" class="input-free moribundo"
            attid="JD6qFGAUcyrINH70">
    </div>
</div>