<div class="panelheader">{{localize "gemengine.labels.talents"}}</div>
<div class="new-row">
    <div class="flexblock-left"><input name="data.attributes.talentName.value" value="void" type="text"
            class="input-large talentName" attid="QYym3pDbFi6FvMLE"><select class="input-med talentValue"
            name="data.attributes.talentValue.value" attid="tQt0PAQQdTapqex0">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select><input name="data.attributes.talentPx.value" value="0" type="text" class="input-ahalf  talentPx"
            attid="H9jPysNYqxjUlAf1"><input type="text" class="input-bhalf input-disabled inputGM talentPx.max"
            name="data.attributes.talentPx.max" value="5"></div>
    <div class="flexblock-left"><input name="data.attributes.talentName.value" value="void" type="text"
            class="input-large talentName" attid="9UoELF2ITMzmUo1k"><select class="input-med talentValue"
            name="data.attributes.talentValue.value" attid="DoYOruslalXeXCFy">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select><input name="data.attributes.talentPx.value" value="0" type="text" class="input-ahalf  talentPx"
            attid="V8SSsec1o3yvNazX"><input type="text" class="input-bhalf input-disabled inputGM talentPx.max"
            name="data.attributes.talentPx.max" value="5"></div>
    <div class="flexblock-left"><input name="data.attributes.talentName.value" value="void" type="text"
            class="input-large talentName" attid="7ERoX4b98SVed1Rq"><select class="input-med talentValue"
            name="data.attributes.talentValue.value" attid="cGBAFCpReV3tVECo">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select><input name="data.attributes.talentPx.value" value="0" type="text" class="input-ahalf  talentPx"
            attid="BlwwnU60OSUwmiEk"><input type="text" class="input-bhalf input-disabled inputGM talentPx.max"
            name="data.attributes.talentPx.max" value="5"></div>
    <div class="flexblock-left"><input name="data.attributes.talentName.value" value="void" type="text"
            class="input-large talentName" attid="lBLpVFy4LwA05EPB"><select class="input-med talentValue"
            name="data.attributes.talentValue.value" attid="EaKHaHBbyBDWBdiU">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select><input name="data.attributes.talentPx.value" value="0" type="text" class="input-ahalf  talentPx"
            attid="QUr9mE9HyjGZSfAh"><input type="text" class="input-bhalf input-disabled inputGM talentPx.max"
            name="data.attributes.talentPx.max" value="5"></div>
    <div class="flexblock-left"><input name="data.attributes.talentName.value" value="void" type="text"
            class="input-large talentName" attid="pmv4UbJPXLJh5Ooq"><select class="input-med talentValue"
            name="data.attributes.talentValue.value" attid="1jzyNxOFJR17PVFV">
            <option value="d4" selected="">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
        </select><input name="data.attributes.talentPx.value" value="0" type="text" class="input-ahalf  talentPx"
            attid="ZYVv9g9xAyGqcllQ"><input type="text" class="input-bhalf input-disabled inputGM talentPx.max"
            name="data.attributes.talentPx.max" value="5"></div>
</div>