<div class="panelheader-talents">{{localize "gemengine.labels.talents"}} 
    <a class="item-create" data-type="talent" title="{{localize "gemengine.labels.addTalent"}}"><i class="fas fa-feather-alt"></i></a>
</div>
<div class="new-row">
    {{#each actor.items as |item id|}}
        {{> "systems/gemengine/templates/partials/talent-element.hbs" item}}
    {{/each}}
</div>