<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </header>

    {{> "systems/gemengine/templates/partials/attributes-panel.hbs"}}
    {{> "systems/gemengine/templates/partials/data-panel.hbs"}}
    {{> "systems/gemengine/templates/partials/talents-panel.hbs"}}
    {{> "systems/gemengine/templates/partials/aspects-panel.hbs"}}
    {{> "systems/gemengine/templates/partials/equipment-panel.hbs"}}
    {{> "systems/gemengine/templates/partials/state-panel.hbs"}}
    
    <p> FIN! </p>
</form>